.layout {
    width: 100%;
    height: 100vh !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(31, 30, 30), rgba(114, 12, 12, 0.911));
    // background-image: '../../Assets/images/oml147.svg';
    // justify-content: center;
    // overflow-y: scroll;


    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        // gap: 24px;
        height: 100%;
        overflow: auto;

        // width: auto;
        padding: 0px 0px 0px 0px;
        // border-left: 2px solid #0274bd;
        // border-right: 2px solid #0274bd;
        // border-bottom: 2px solid #0274bd;
    }

}