.body {
    width: 20%;
    height: 100%;
    border-right: 1px solid #c8dad1;
    background-color: white;
    padding: 10px;

    @media screen and (max-width:600px) {
        width: 70%;
        position: absolute;
        z-index: 10;
    }
}

.sidebarHeader {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.barsContainer {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.barSelected {
    color: #FFF;
    background-color: #0274bd;
    padding-left: 24px;
    display: flex;
    gap: 10px;
    border-radius: 4px;
}

.bars {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 21px;

    @media screen and (max-width:900px) {

        padding: 10px 11px;
    }

    &:hover {
        color: #0274bd;
        background-color: #d6f0fd;
        padding-left: 24px;
    }

}

.barUnSelected {
    color: #0274bd;
    background-color: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}

.barText {
    // font-family: 'Palanquin';    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.1%;
}

.logout{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.1%;
    margin-top: 200px;
    color: #143f2a;
    
}