.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    .ped {
        display: flex;
        flex-direction: column;
        // gap: 100px;
        // margin-top: 20px;
    }

    .comp {
        display: flex;
        // margin-top: 30px;
        justify-content: center;
        align-items: center;

    }
}