.body {
    height: 119px;
    width: calc(100%/5.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    // gap: 15px;
    // padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(202, 200, 200);

    .top {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .bottom {
        display: flex;
        justify-content: flex-start;
    }

    .target {
        background-color: #00A3FF;
        margin-top: 10px;
        // height: 20px;
        padding: 0px 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}